html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    color: white;
    text-align: center;
    background-color: black;
}
.button {
    display: inline-block;
    height: 30%;
    width: 52%;
    top: 100px;
    background-color: #222;
    position: relative;
}
.button_label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    margin-top: -6px;
}
.outlined {
    border: 2px solid grey;
}
