html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    color: white;
    text-align: center;
    background-color: black;
}
.button {
    display: inline-block;
    height: 30%;
    width: 52%;
    top: 100px;
    background-color: #222;
    position: relative;
}
.button_label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    margin-top: -6px;
}
.outlined {
    border: 2px solid grey;
}
.slow .toggle-group {
    transition: left 0.7s;
    -webkit-transition: left 0.7s;
    -moz-transition: left 0.7s;
    -o-transition: left 0.7s;
}
.fast .toggle-group {
    transition: left 0.1s;
    -webkit-transition: left 0.1s;
    -moz-transition: left 0.1s;
    -o-transition: left 0.1s;
}
.quick .toggle-group {
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
}
.toggle.ios, .toggle-on.ios, .toggle-off.ios {
    border-radius: 20px;
}
.toggle.ios .toggle-handle {
    border-radius: 20px;
}
